<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Web</title>
    <link rel="stylesheet" href="../Statics/css/style.css"> <!--<link rel="stylesheet" href="../Statics/css/tu-estilo.css">-->
</head>

<body>
    <h1>ENCABEZADO (h1)</h1>
    <p>Parrafo pequeño c:</p>
    <h2>h2, más pequeña que h1</h2> <!--soy una nota bien kwaii 😺-->
    <li>soy una lista</li>
    <img src = "C:\Users\Arivette SP\OneDrive\Escritorio\Kod-HTML\Satoru.jpg" alt="Img1" class="imgS">
    <img src = "https://ficrol.com/content/uploads/photos/2023/09/ficrol_cf1e958c18f3ee51b0cd44eac443cef6.gif" alt="Img3    " class="imgS">
    <p>Las redes sociales reducen el tiempo que pasamos en el mundo real. También condicionan nuestra mente a constantes actualizaciones de noticias y publicaciones, lo que a la larga puede resultar estresante.</p>
    <img src = 'https://media3.giphy.com/media/26BGGxgsEh42ABHFe/giphy.gif?cid=ecf05e47fewnmm2h6vijgpd1768vz8zxo441mpec89684gtw&rid=giphy.gif&ct=g' alt = 'Img2'>
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-58c0eeb3-50cc-4f2a-892e-d94126b49a52" data-elfsight-app-lazy></div>
</body> 
</html> 